.root {
  outline: none;
  border: none;
  background: #F0B030;
  color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.4em;
  cursor: pointer;
  transition: 200ms ease;
}

.root:hover {
  background-color: #212529;
}