.root {
  width: 300px;
  border-radius: 8px;
  color: #212529;
}

.picture {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.info-box {
  padding: 0;
}

.title {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

.creator {
  font-size: 0.9em;
}

.description {
  font-size: 1em;
  color: #383d42;
}
