.root {
  width: 200px;
  cursor: pointer;
}

.title {
  font-size: 1.2em;
  font-weight: 400;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin-top: 2px;
  color: #212529;
}

.title-selected {
  color: #00AB66;
}

.image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.image-selected {
  border: 3px solid #00AB66;
}

@media only screen and (max-width: 768px) {
  .root {
    width: 140px;
    font-size: 10px;
  }

  .image {
    width: 140px;
    height: 105px;
  }
}

@media only screen and (max-width: 375px) {
  .root {
    width: 120px;
    font-size: 8px;
  }

  .image {
    width: 120px;
    height: 90px;
  }
}
